/* 

:root{
    --bag-color:rgb(88, 114, 88);
    --weidth:200px;
    --height:200px;
}

.box{

   background-color: var(--bag-color);
   height: var(--height);
   width: var(--weidth);
}
body{
    background-color: green;
}
.h1{
    color:white;
}
h3{
    background: rgb(236, 12, 124);
} */
/* 
input{
    display: flex;
    margin: 5px;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
}
input:hover{
    
} */

.Blance-Section{
    background-color: burlywood;
    width: 300px;
    height: 300px;
    border: 2px solid red;
    padding: 5px;
    margin: 5px;
    display: inline;
}
.BWidrawWith{
    background-color: rgb(29, 175, 139);
    width: 300px;
    height: 300px;
    border: 2px solid red;
    padding: 5px;
    margin: 5px;
}